body {
  background-color: #978c8c;
  justify-content: center;
  display: flex;
}

#root {
  width: 70%;
  justify-content: center;
  padding: 20px;
  background-color: white;
}

.article-envelope {
  padding: 20px 0;
  width: 100%;
  display: flex;
  border-bottom: 1px solid gray;
}

.article-envelope img {
  background-color: #606669;
}

.article {
  width: 90%;
  display: block;
}

.category {
  font-size: 14px;
  color: #0059bf;
}

.headline {
  color: black;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
}

.standfirst {
  font-size: 16px;
}